# WhatsApp Meta API
WHATSAPP_ACCESS_TOKEN=EAAYWozN9yTIBRcrXOMSPu8f9wqoCCrCi0FGixtRwx63d0JRotbPzg3ZCNNtjO5tdCcnJQaKZA3fKUz1azPiHegQjyKBBcb4z5WUG7TMivHiZCcxFZALMBwzWED123f8UBOSk7xgf0W9lvvvxpBe1V80kZBaNUgsrfPmZAhZApUKYt5mSN7kZCXjPOa0vKiUrlN2U40DwEaQLJ1r94qBrs2WkYSZArawrnN0794YoltqfsjW5uwy9JZBgzJZAPkSjryCZAZCbkRaqZAScfutpA7HZClgEqLA2DKI
WHATSAPP_PHONE_NUMBER_ID=1073345009200743
WHATSAPP_BUSINESS_ACCOUNT_ID=3361216830707295
WHATSAPP_WEBHOOK_VERIFY_TOKEN=aerovax_verify_token_2024
WHATSAPP_VERIFY_TOKEN=aerovax_verify_token_2024

# AI Integration
GEMINI_API_KEY=
